//=====================================
//  COLORS
//=====================================
$primary-100: #016fb9;
$primary-200: #fb3640;
$primary-300: #4ac70c;
$black: #071013;
$grey: #d5d5d5;
$white: #ffffff;

//=====================================
//  BASE
//=====================================
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 500px;
  margin: auto;
}

p {
  margin: 0;
}

button {
  border-radius: 14px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 15px;
  user-select: none;
}

//=====================================
//  ICONS
//=====================================

.i {
  width: 1.4rem;
  height: auto;
  margin-left: 10px;
  margin-right: -5px;
  user-select: none;
}

//=====================================
//  MAIN
//=====================================

header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px 10px;
}

.link {
  &_imgWrap {
    float: right;
    padding-left: 7px;
    user-select: none;
  }

  &_desc {
    text-align: right;
    line-height: 1em;
  }
}

.editBtns {
  width: 66.67%;
  margin: 2rem auto 1.5rem;
  display: flex;
  justify-content: space-between;

  button:active {
    transform: scale(1.1);
  }

  &_add {
    border: 1px solid $primary-100;
    color: $primary-100;
    stroke: $primary-100;
  }

  &_del {
    border: 1px solid $primary-200;
    color: $primary-200;
    fill: $primary-200;
  }

  &_save {
    border: 1px solid $primary-100;
    color: $white;
    background-color: $primary-100;
    fill: $white;
  }

  &_discard {
    border: 1px solid $primary-200;
    color: $white;
    background-color: $primary-200;
    fill: $white;
  }

  &_done {
    border: 1px solid $primary-300;
    color: $white;
    background-color: $primary-300;
    fill: $white;
  }

  &_clearAll {
    border: 1px solid $primary-200;
    color: $white;
    background-color: $primary-200;
    fill: $white;
  }
}

@keyframes error-shake {
  $offset: 2px;

  25% {
    left: $offset;
  }
  75% {
    left: -$offset;
  }
}

#addTask {
  width: 82%;
  outline: none;
  min-height: 0;
  padding: 0;
  height: 0;
  margin: auto;
  border-top: 2px solid $grey;
  // To make the reverse transition faster
  transition: min-height 0.15s ease-out;

  &[contenteditable="true"] {
    border: 1px solid $grey;
    border-radius: 5px;
    min-height: 80px;
    padding: 10px 10px;
    transition: padding 0.5s ease-in-out, min-height 0.5s ease-in-out;

    &.addTask-error {
      position: relative;
      border-color: $primary-200 !important;
      animation: error-shake 0.1s linear 4;
    }
  }
}

.tasksWrap {
  padding-top: 0.7rem;
  padding-right: 10px;
  padding-left: 10px;
  width: 82%;
  margin: auto;

  &-delete {
    label {
      display: none;
    }

    .task_delBtn {
      display: block;
    }
  }
}

.task {
  margin-top: 1rem;
  display: flex;
  // align-items: flex-start;

  label {
    user-select: none;
  }

  &_hiddenInput {
    position: absolute;
    visibility: hidden;

    &:checked + .i {
      fill: $black;
      stroke: $black;
    }
  }

  &_checkBox {
    fill: none;
    margin: 0;
    border: 2px solid $black;
    padding: 1px;
    cursor: pointer;
    vertical-align: bottom;
  }

  &_text {
    display: inline-block;
    margin-left: 1rem;
    flex-grow: 1;
    text-align: justify;
  }

  &_delBtn {
    box-sizing: content-box;
    display: none;
    width: 17px;
    height: auto;
    fill: $grey;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
  }
}
